html, body {
  font-family: 'Montserrat', sans-serif;
  background-color: #000000;
  margin: 0;
  max-width: 100%;
}
.container {
  width: 100%;
  position: relative;
  transition: ease all .5s;
  display: flex;
  flex-direction: column;
  min-height: 120vh;
  background-color: #ffffff;
  overflow-x: hidden;
}
.content {
  width: 400px;
  margin: 0 auto;
  overflow: hidden;
  transition: ease all 1.0s;
}
.one {
  padding-top: 20px;
}
.two h2 {
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 0.08cm;
}
.hero {
  width: 600px;
  height: 550px;
}
.box {
  width: 360px;
  height: 600px;
  overflow: hidden;
}
.logo {
  width: 120px;
  height: auto;
}
.hero img {
  width: 700px;
  height: 550px;
  margin-left: -200px;
  margin-top: 0px;
}
.hero-text {
  text-align: left;
  color: white;
  text-shadow: 2px 2px 4px #4e4e4e;    
  font-size: 40px;
  font-weight: bold;
  inline-size: 300px;
  overflow-wrap: break-word;
  position: relative;
  top: -580px;
  left: 20px;
}
.form h2 {
  font-size: 28px;
  inline-size: 400px;
  overflow-wrap: break-word;
}
input {
  width: 360px;
  height: 60px;
  padding: 25px 0px;
  margin: 15px 0;
  border: solid 2px #747474;
  box-sizing: border-box;
}
input[type="text"], input[type="email"]
{
  font-size: 20px;
}
label {
  text-align: left;
}

.form {
  margin-left: 0px;
}
.form-inputs {
  font-size: 13px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.04cm;
  padding-left: 5px;
}
.button {
  text-transform: uppercase;
  color: #000000;
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 0.09cm;
  padding: 20px 10px;
  margin: 20px 0 50px 0;
  background: #00d9ff;
  border: 0 none;
  cursor: pointer;
  -webkit-border-radius: 50px;
  border-radius: 50px;
}
.button:hover {
  color: #ffffff;
  background: #7c7c7c;
}
.footer {
  color: #ffffff;
  background-color: #000000;
  margin-top: auto;
  min-height: 15vh;
}
.footer h3 {
  text-align: center;
  font-size: 13px;
  font-weight: 800;
  letter-spacing: 0.12cm;
  padding: 60px;
}
.copyright, .copyright-2 {
  padding: 5px;
  transition: ease all 1.0s;
}

/* Responsiveness */
@media only screen and (min-width: 1100px) {
  .container {
    min-height: 100vh;
  }
  .footer {
    min-height: 15vh;
  }
  .one {
    padding-left: 20px;
    float: left;
  }
  .two {
    padding-top: 30px;
    padding-left: 13em;
    width: 450px;
  }
  .form {
    width: 50%;
    float: right;
    padding-bottom: 200px;
  }
  .content {
    width: 1300px;
    padding-top: 100px;
  }
  .box {
    width: 550px;
    height: 800px;
    overflow: hidden;
  }
  .hero {
    padding-left: 20px;
    margin-bottom: -600px;
  }
  .hero img {
    width: 1100px;
    height: 700px;
    margin-left: -315px;
    margin-top: 0px;
  }
  .hero-text {
    font-size: 55px;
    inline-size: 500px;
    top: -750px;
    left: 40px;
  }
  input {
    width: 500px;
  }
  .copyright {
    float: left;
    padding-left: 25%;
  }
  .copyright-2 {
    float: left;
  }
}

@media only screen and (min-width: 1800px) {
  .copyright {
    float: left;
    padding-left: 38%;
  }
}